<!--The content below is only a placeholder and can be replaced.-->
<form class="ui large form segment">
  <h3 class="ui header">Add a link</h3>

  <div class="field">
    <label for="title">Title:</label>
    <!-- # (hash) tell Angular to assign the tags (#newtitle and #newlink) to a local variable -->
    
    <!-- This markup tells Angular to bind this <input> to the variable newtitle . The #newtitle syntax
    is called a resolve. The effect is that this makes the variable newtitle available to the expressions
    within this view. -->
    <input name="title" #newtitle>
  </div>
  <div class="field">
    <label for="link">Link:</label>
    <input name="link" #newlink>
  </div>

  <!-- when this button is clicked it call the addArticle() function -->
  <button (click)="addArticle(newtitle, newlink)" class="ui positive right floated button">
    Submit link
  </button>
</form>

